.button {
  background: white;
  border-radius: 3px;
  box-shadow:  1px 0px 5px rgba(37, 116, 136, 0.57);
  width: 200px;
  height: 55px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.large {
    justify-content: start;
    width: 330px;
    padding-left: 16px;
    margin-bottom: 10px;
  }

  &.active {
    background-color: #1A1A1A;
    color: white;
    &:hover {
      background-color: black;
    }
  }

  svg {
    fill: black;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  &:hover {
    background: #257488;
    color: white;
    svg {
      fill: white;
    }
  }
}



@media screen and (max-width: 1280px) {
  .button {
    width: 180px;
    &.large {
      width: 230px;
    }
  }
}


@media screen and (max-width: 1023px) {
  .button {
    width: 50px;
    height: 50px;
    &.large {
      width: 135px;
    }
    svg {
      margin: 0;
    }
    span {
      display: none;
    }
  }
}
@media screen and (max-width: 768px) {
  .button {
    &.large {
      font-size: 16px;
      width: 114px;
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}