.title {
  background: url("../../../public/sources/photo2.png") no-repeat right;
  background-size: contain;
  width: 100%;
  max-width: 1440px;
  height: 550px;
  position: relative;
  margin: 67px auto 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(to left, transparent 20%, #b19187 50%);
  }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }


  h1, p {
    margin: 1rem 0;
    z-index: 3;
    position: relative;
  }

  h1 {
    font-family: Playfair Display, serif;
    font-size: 68px;
  }

  p {
    font-size: 24px;
    font-weight: 300;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    height: 450px;

    &:before {
      background: linear-gradient(to left, transparent 20%, #b19187 47%);
    }

    h1 {
      font-size: 53px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .title {
    height: 350px;

    &:before {
      background: linear-gradient(to left, transparent 20%, #b19187 40%);
    }

    h1 {
      font-size: 38px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .title {
    height: 250px;

    &:before {
      background: linear-gradient(to left, transparent 20%, #b19187 43%);
    }

    h1, p {
      margin: 0.5rem 0;
    }

    h1 {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 576px) {
  .title {
    &:before {
      background: linear-gradient(to left, transparent 20%, #b19187 55%);
    }
  }
}