.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

@media (max-width: 1280px) {
  .container {
    max-width: 768px;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}