.projects {
  margin-top: 100px;
  
  hr {
    text-align: center;
    margin: 0 auto 40px auto;
  }
  h2 {
    text-align: center;
  }
  .categories {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    font-size: 18px;
    gap: 20px;
    span {
      cursor: pointer;
      &:hover {
        color: #257488;
      }
    }
    .active {
      color: #257488;
      border-bottom: solid 1px #257488;
    }
  }
  .projects-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 4rem 3rem;
    margin-bottom: 50px;
  }
  .center {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  .projects {
    .projects-block {
      gap: 2rem 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .projects {
    margin-top: 50px;
    position: relative;
    .categories {
      margin-bottom: 10px;
      .active {
        color: #257488;
        border-bottom: none;
      }
    }
    .projects-block {
      grid-template-columns: 1fr;
    }
  }
}