.jobInfo {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  .blue {
    color: #257488;
    margin-bottom: 24px;
  }

  ul {
    margin: 0;
    height: 245px;
    overflow: scroll;
  }

  li {
    margin-bottom: 15px;
  }

  .date {
    align-self: flex-end;
    font-size: 16px;
  }
}