.projectInfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .modal {
    background: white;
    width: 70%;
    height: max-content;
    border-radius: 3px;
    box-shadow:  1px 0px 5px black;
    padding: 24px;

    hr {
      border: none;
      border-bottom: 1px solid #ededed;
    }

    .info-header {
      display: flex;
      justify-content: space-between;
      padding-left: 24px;
      button {
        border: none;
        background-color: white;
        align-self: flex-start;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
        svg {
          fill: #1A1A1A;
        }
      }
    }

    .info-content {
      display: flex;
      gap: 40px;
      margin: 36px 24px;

      .img-block {
        flex: 1 1 50%;
        box-sizing: border-box;
        height: 420px;
        padding: 20px;
        font-size: 18px;
        font-weight: 300;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
  
        h4 {
          text-transform: uppercase;
          text-align: center;
          margin: 0;
          font-size: 28px;
        }

        img {
          height: 110px;
          width: 110px;
        }
      }

      .description-block {
        flex: 1 1 50%;
        p {
          margin: 0 0 30px 0;
          font-size: 16px;
          line-height: 24px;
        }
        .stack {
          color: #257488;
        }
        .isTeam {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;
        }
        .role {
          margin-bottom: 50px;
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .projectInfo {
    .modal {
      width: 85%;
      .info-content {
        .img-block {
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projectInfo {
    .modal {
      .info-content {
        .img-block {
          flex-basis: 30%;
          height: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .projectInfo {
    .modal {
      hr {
        margin-bottom: 20px;
      }
      .info-header {
        padding: 0;
      }
      .info-content {
        margin: 0;
        .img-block {
          display: none;
        }
        .description-block {
          .role {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.body-no-scroll {
  overflow: hidden;
}